<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Diabetic Burgers!</title>
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="assets/css/burger_style.css">
</head>
<body>
    <div class="container-fluid">
        <div class="container">
            <h1> What would you like to go to the Hospital for today?</h1>
            <img src="assets/img/burger.jpg" alt="burger" width="300px">
            {{{body}}}
        </div>
    </div>
</body>
</html>